body{
    background-color: black;
color: white;
}
section{
    background-color: aqua;
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

header{
    font-family: "Chakra Petch", sans-serif;
}

setion{
    background: rgb(74,10,142);
    padding-bottom: 5%;
    padding-top: 5%;
    font-display: flex;
    justify-content: center;
}
.texto{
    margin-right:  5%;

}

